.search {
	position: relative;
	width: 248px;
	height: 44px;
}

.button {
	display: flex;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.input {
	padding-left: 56px;
}

