.menu {
	align-self: stretch;
	display: flex;
	align-items: center;
}

.list-item:first-child .item {
	border-top-left-radius: var(--border-radius-base);
	border-top-right-radius: var(--border-radius-base);
}

.list-item:last-child .item {
	border-bottom-left-radius: var(--border-radius-base);
	border-bottom-right-radius: var(--border-radius-base);
}
