.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.button {
	margin-left: 16px;
}

.textarea {
	background-color: var(--color-text-light);
	resize: none;
	width: 100%;
	border-radius: var(--border-radius-base);
	color: var(--color-text-dark);
	border: none;
	padding: 10px 20px;
	outline: none;
}
